.bar-title {
	background-color: #f38268;
	background-image: -webkit-linear-gradient(top, #f38268 0, #f75b4b 100%);
	background-image: linear-gradient(top, #f38268 0, #f75b4b 100%);
	border-bottom: 1px solid #ff4835;
}

.bar-title [class*="button"] {
  background-color: #f7412d;
  background-image: -webkit-linear-gradient(top, #f7412d 0, #f73823 100%);
  background-image: linear-gradient(to bottom, #f7412d 0, #f73823 100%);
  border: 1px solid #ff4835;
}

.bar-title .button-prev:before,
.bar-title .button-next:before {
  position: absolute;
  top: 2px;
  width: 27px;
  height: 27px;
  border-radius: 30px 100px 2px 40px / 2px 40px 30px 100px;
  content: '';
  box-shadow: inset 1px 0 #f73823, inset 0 1px #f7412d;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000), color-stop(.33, #000), color-stop(.5, transparent), to(transparent));
                  mask-image: gradient(linear, left top, right bottom, from(#000), color-stop(.33, #000), color-stop(.5, transparent), to(transparent));
}

.bar-title .button-prev:before {
  left: -5px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#f73823), to(#f7412d));
  background-image: gradient(linear, left bottom, right top, from(#f73823), to(#f7412d));
  border-left: 1.5px solid rgba(255, 255, 255, .25);
  -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
          transform: rotate(-45deg) skew(-10deg, -10deg);
}
.bar-title .button-next:before {
  right: -5px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#f73823), to(#f7412d));
  background-image: gradient(linear, left bottom, right top, from(#f73823), to(#f7412d));
  border-top: 1.5px solid rgba(255, 255, 255, .25);
  -webkit-transform: rotate(135deg) skew(-10deg, -10deg);
          transform: rotate(135deg) skew(-10deg, -10deg);
}

.bar-title .button-prev:active,
.bar-title .button-next:active,
.bar-title .button-prev:active:before,
.bar-title .button-next:active:before {
  background-color: #f73823;
}

.toggleImage {
	border: 1px solid red;
}